
.wordontopclass{
	text-align : left;
	border-spacing:0 0;
	display: inline-block;
}

@font-face{

	font-family:
	'RaphaelIcons';
	src:
	url('raphaelicons-webfont.eot');
	src:
	local('☺'), url('raphaelicons-webfont.woff') format('woff'), url('raphaelicons-webfont.ttf') format('truetype'), url('raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: icons; /* BYO icon font, mapped smartly */
	content: attr(data-icon);
	speak: none; /* Not to be trusted, but hey. */
}

.wordontopclass .icon {
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-family: 'RaphaelIcons';
	font-size: 1.1em;
	-webkit-transition: all 2 ease-in;
	position: relative;
	top: 0.1em;
}



.wordontopclass .focus {
	border-style:dashed;
}

.wordontopclass .active {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}
.wordontopclass > .hidden {
	display:none;
}
.wordontopclass > .show {
	display: block;
}
.tree h1{
	min-width: 100px;
	white-space: nowrap;
}
.test {
	display: block;
	background-color:#D14836;
	background-image:-webkit-linear-gradient(top,
		#DD4B39,
		#D14836);
	background-image:-moz-linear-gradient(top,
		#DD4B39,
		#D14836);
	background-image:-ms-linear-gradient(top,
		#DD4B39,
		#D14836);
	background-image:-o-linear-gradient(top,
		#DD4B39,
		#D14836);
	background-image:linear-gradient(top,
		#DD4B39,
		#D14836);
	border:1px solid transparent;
	color:white;
	text-shadow:0 1px rgba(0, 0, 0, 0.1);
	text-transform:uppercase;
	margin : 20px 1px 20px 1px;
	padding: 20px 6px 20px 6px;
}
.wordontopclass canvas{
	z-index: 30;
}


/* begin definirion global caption style*/
.wordontopclass> .caption {
	padding:40px;
	position:relative;
	height:0;
	width:15px;
	cursor:move;
	z-index: 78;
	border-radius:4px;
	transition-property:background-color,background-image;
	transition-duration:1s;
	transition-timing-function:ease-out;
	-webkit-transition-property:background-image,background-color;
	-webkit-transition-duration:1s;
	-o-transition-property:background-image,background-color;
	-o-transition-duration:1s;
	background: -moz-linear-gradient(-45deg, rgba(89,89,89,0.1) 0%, rgba(102,102,102,0.1) 3%, rgba(45,45,45,0.1) 99%, rgba(44,44,44,0.1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(89,89,89,0.1)), color-stop(3%,rgba(102,102,102,0.1)), color-stop(99%,rgba(45,45,45,0.1)), color-stop(100%,rgba(44,44,44,0.1))); 
	background: -webkit-linear-gradient(-45deg, rgba(89,89,89,0.1) 0%,rgba(102,102,102,0.1) 3%,rgba(45,45,45,0.1) 99%,rgba(44,44,44,0.1) 100%); 
	background: -o-linear-gradient(-45deg, rgba(89,89,89,0.1) 0%,rgba(102,102,102,0.1) 3%,rgba(45,45,45,0.1) 99%,rgba(44,44,44,0.1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(89,89,89,0.1) 0%,rgba(102,102,102,0.1) 3%,rgba(45,45,45,0.1) 99%,rgba(44,44,44,0.1) 100%); 
	background: linear-gradient(-45deg, rgba(89,89,89,0.1) 0%,rgba(102,102,102,0.1) 3%,rgba(45,45,45,0.1) 99%,rgba(44,44,44,0.1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a595959', endColorstr='#1a2c2c2c',GradientType=1 );
}

.wordontopclass> .caption:hover {
	background-color:rgba(0,0,0,0.89);

	-webkit-box-shadow:12px 12px 12px 1px rgba(1, 1, 1, 0.89);
	box-shadow:12px 12px 12px 1px rgba(1, 1, 1, 0.89);background: -moz-linear-gradient(-45deg, rgba(17,17,17,0.1) 0%, rgba(18,18,18,0.8) 1%, rgba(102,102,102,0.95) 73%, rgba(102,102,102,0.97) 83%, rgba(102,102,102,0.98) 87%, rgba(76,76,76,1) 100%); 
	/*background: -moz-linear-gradient(top, rgba(79,79,79,0.7) 1%, rgba(79,79,79,0.7) 2%, rgba(79,79,79,1) 12%, rgba(101,101,101,1) 74%, rgba(109,109,109,0.54) 98%, rgba(79,79,79,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(79,79,79,0.7)), color-stop(2%,rgba(79,79,79,0.7)), color-stop(12%,rgba(79,79,79,1)), color-stop(74%,rgba(101,101,101,1)), color-stop(98%,rgba(109,109,109,0.54)), color-stop(100%,rgba(79,79,79,0.5))); 
	background: -webkit-linear-gradient(top, rgba(79,79,79,0.7) 1%,rgba(79,79,79,0.7) 2%,rgba(79,79,79,1) 12%,rgba(101,101,101,1) 74%,rgba(109,109,109,0.54) 98%,rgba(79,79,79,0.5) 100%); 
	background: -o-linear-gradient(top, rgba(79,79,79,0.7) 1%,rgba(79,79,79,0.7) 2%,rgba(79,79,79,1) 12%,rgba(101,101,101,1) 74%,rgba(109,109,109,0.54) 98%,rgba(79,79,79,0.5) 100%);
	background: -ms-linear-gradient(top, rgba(79,79,79,0.7) 1%,rgba(79,79,79,0.7) 2%,rgba(79,79,79,1) 12%,rgba(101,101,101,1) 74%,rgba(109,109,109,0.54) 98%,rgba(79,79,79,0.5) 100%); 
	background: linear-gradient(top, rgba(79,79,79,0.7) 1%,rgba(79,79,79,0.7) 2%,rgba(79,79,79,1) 12%,rgba(101,101,101,1) 74%,rgba(109,109,109,0.54) 98%,rgba(79,79,79,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b34f4f4f', endColorstr='#804f4f4f',GradientType=0 ); 
	
}


.wordontopclass> .caption textarea {
	z-index:3;
	overflow: hidden;
	background-position:8px;
	background-repeat:no-repeat;
	border:none;
	font-size:15px;
	font-weight:600;
	resize:auto;
	background-color:rgba(0,0,0);
	background-color:rgba(0,0,0,0);
	transition-property:background-color,background-image;
	transition-timing-function:ease-out;
	-webkit-transition-property:background-image,background-color;
	-webkit-transition-duration:1s;
	-o-transition-property:background-image,background-color;
	-o-transition-duration:1s;
	clear : both;
	transition-property:border-style,width,height;
	transition-duration:2s;
	transition-timing-function:ease-out;
	-webkit-transition-property:border-style;
	-webkit-transition-duration:2s;
	-o-transition-property:border-style;
	-o-transition-duration:2s;
	
	margin : 0 0 0 0;
}
.wordontopclass .simpleColorDisplay:before{
	position : absolute;
	margin-top : -5px;
	margin-left : -28.5px;
	font-size: 32px;
	font-family : 'RaphaelIcons';
	color : #878787;
	content : "H";
	vertical-align : top;
}
.wordontopclass input.font:before{
		position : absolute;
	margin-top : -5px;
	margin-left : -28.5px;
	font-size: 32px;
	
	color : #878787;
	content : "H";
	vertical-align : top;
}
.wordontopclass .dd-container{
	display: inline-block;
	max-width: 70%;
}
.wordontopclass .font:before{

	font-size: 32px;
	color : #878787;
	content : "Tt";
	vertical-align : top;
	display: inline-block;
}
.wordontopclass .dd-container:before{
	position: absolute;
	display: inline-block;
	margin-left: -25px;
	margin-bottom: -90px;
	font-size: 32px;
	color : #878787;
	content : "+";
}

.wordontopclass .caption textarea{
	border: solid 1px #878787;
	margin: 0 0 0  0 ;
}
.wordontopclass .caption .input{
	padding: 0 0 0 0;
}
.wordontopclass .caption textarea:active,textarea:hover,textarea:focus{
	-moz-box-shadow: inset 5px 5px 30px black;
	-webkit-box-shadow: inset  5px 5px 30px black;
	box-shadow: inset  5px 5px 30px black;
	background-color: #DDD;
}
.wordontopclass> .caption input:hover,.caption input:active {
	color:black;
	transition-property:background-color,color;
	transition-duration:1s;
	transition-timing-function:ease-out;
	-webkit-transition-property:background-color,color;
	-webkit-transition-duration:1s;
	-o-transition-property:background-color,color;
	-o-transition-duration:1s;
	backface-visibility:hidden;

}
.wordontopclass> .caption:hover> textarea {
	color:white;
	border: solid 1px #878787;
	padding:9px 0 9px 38px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background-position:8px;
	background-repeat:no-repeat;
	-moz-box-shadow: inset 5px 5px 30px black;
	-webkit-box-shadow: inset  5px 5px 30px black;
	box-shadow: inset  5px 5px 30px black;
}

.wordontopclass> .caption:hover> textarea:focus,textarea:active  {
	outline  : hidden;
}
.wordontopclass> .caption> input:nth-child(1):focus {
	color:black;
	background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(#ffffff));  
	background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);
	border:1px solid ;
	padding:9px 0 9px 38px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	background-position:8px;
	background-repeat:no-repeat;
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	
}
.wordontopclass .close {

	position:absolute;
	height:24px;
	width: 24px;
	right:10px;
	top:10px;
	background-image:url('close.svg');
	background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	cursor:default;
}
.wordontopclass> .caption> input:nth-child(2), .simpleColorContainer {
	margin-top: 3px;
	display: inline-block;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
.wordontopclass> .caption> .simpleColorContainer {
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

.wordontopclass> .caption> .size_chooser {
	display: inline-block;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	clear: both;
}
.wordontopclass> .caption:hover> .size_chooser {
	opacity: 1;
}
.wordontopclass> .caption:hover> input:nth-child(2), .simpleColorContainer {
	display: inline-block;
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}
.wordontopclass> .caption:hover> .simpleColorContainer {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}
.wordontopclass> .caption:hover> .toolbox {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}


.wordontopclass .caption:hover textarea{
	border: solid 1px #878787;
}

.wordontopclass .caption textarea{

	border : none;
}

.wordontopclass> .caption> .toolbox {
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
.wordontopclass> .caption> .close {
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
.wordontopclass> .caption:hover> .close {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}
.wordontopclass> .caption> .font {
	margin-top: 4px;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

.wordontopclass> .caption:hover> .font {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.wordontopclass> #graph {
	position:absolute;
}

.wordontopclass ul.fontselector {
	background:white;
	border:1px solid #ccc;
	border-top:0;
	font-size:14px;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	line-height:1.2;
	z-index:64;
	position:absolute;


}
.wordontopclass ul a{
	padding: 2px;
	text-align: center;
	background: #5D5D5D;
	border: solid 2px #878787;
	border-bottom: groove 1px #878787;
}
.wordontopclass  .submit_caption{

	
	background-color:  #5D5D5D;
	border-radius: 2px;
	border: solid 1px #878787;
	box-shadow: 2px 2px 120px #888;
	font-weight: bold;
	min-width: 70px;
	color : #00B7FF;

}
.wordontopclass .submit_wrapper{
	text-align: center;
	max-width: 36px; 
	min-height: 100%;
	margin-left: auto ;
	margin-right: auto ;
	min-width: 70px;
}
.wordontopclass  .icon{
	text-shadow: 1px 1px 1px black;
	height: 1.0em;
	width: 0.8em;
	font-size : 3.3em;
	color : white;
	text-align: center;

}

.wordontopclass .submit_caption:active{
	background-color:  #88AA91;
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 2px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}
.wordontopclass .submit_caption:hover{
	background-color:  #88AA91;
	
}
.wordontopclass ul.fontselector li {
	margin:0;
	padding:0;
	list-style:none;
}
.wordontopclass ul.fontselector a {
	display:block;
	padding:3px;
	text-decoration:none;
}
.wordontopclass ul.fontselector a:hover {
	background:#ddd;
	cursor:pointer;
	}​
	.wordontopclass > .bubble{
		position: absolute;
		color : cyan;
		-webkit-border-radius: 30px;
		border-radius: 30px;
		-webkit-transition: all 2 ease-in;
		-moz-transition: all 2 ease-in;
		-ms-transition: all 2 ease-in;
		-o-transition: all 2 ease-in;
		transition: all 2 ease-in;
		background: rgb(180,227,145); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(120,193,63,1) 93%, rgba(135,226,65,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(93%,rgba(120,193,63,1)), color-stop(100%,rgba(135,226,65,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(120,193,63,1) 93%,rgba(135,226,65,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(120,193,63,1) 93%,rgba(135,226,65,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(120,193,63,1) 93%,rgba(135,226,65,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(180,227,145,1) 0%,rgba(120,193,63,1) 93%,rgba(135,226,65,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#87e241',GradientType=0 ); /* IE6-9 */
	}


	/*end defining caption global style*/


	/*small style*/
	.wordontopclass input.font{
		background: #5D5D5D;
		border-radius: 2px;
		border: solid 1px #878787;
		cursor: pointer;
		padding :2px;
	}

	.wordontopclass .simpleColorDisplay{
		border-radius: 2px;
		border: solid 1px #878787;
		background: #5D5D5D;

	}

	.wordontopclass a.dd-option{
		padding : 2px;
		text-align: center;
		background: #5D5D5D;
		border: solid 2px #878787;
		border-bottom:groove 1px  #878787;

	}
	.wordontopclass .dd-select{
		border: solid 1px #878787;
		background: #5D5D5D;
		width: 100%

	}
	.wordontopclass .dd-selected{
		background: #5D5D5D;
		border: none;
		margin-left: 5px;

	}
	.wordontopclass .toolbox input{
		color : #00B7E0;
		font-weight : 600;
		margin: 5px 5px 5px 5px;
	}


	/* test progressbar*/
	.progress-bar {
		position: relative;
		background-color : green;
		-webkit-animation-name: fullexpand;
		-webkit-animation-duration: 10s;
		-webkit-animation-timing-function: ease; /* ease is the default */
		-webkit-animation-delay: 1s;             /* 0 is the default */
		-webkit-animation-iteration-count: 1;    /* 1 is the default */
		-webkit-animation-direction: alternate;  /* normal is the default */
	}

	.infoBox{
		opacity : 0%;
	}
	@-webkit-keyframes fullexpand {
		/* In these keyframes, the progress-bar is stationary */
		0%{ width: 0%; opacity: 0; }

		/* In these keyframes, the progress-bar starts to come alive */
		4%{ width: 0%; opacity: 0.3; }

		/* In these keyframes, the progress-bar moves forward for 3 seconds */
		16%{ width: 100%; opacity: 0.7; }

		/* In these keyframes, the progress-bar has finished his path */
		37%{ width: 100%; opacity: 1; }

	}

	@-webkit-keyframes bounce1 {
		0%{ opacity :0;-webkit-transform:  translate(750px, 5px);}
		50%{ opacity :0}
		100%   { opacity :1;-webkit-transform:  translate(0px, 0px);}

	}

	.animation-arrival1 {
		-webkit-animation-name: bounce1;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-direction: alternate;
	}

	@-webkit-keyframes bounce2 {
		0%{ opacity :0;-webkit-transform:  translate(-750px, 5px);}
		50%{ opacity :0}
		100%   { opacity :1;-webkit-transform:  translate(0px, 0px);}

	}

	.animation-arrival2 {
		-webkit-animation-name: bounce2;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-direction: alternate;
	}
	@-webkit-keyframes bounce3 {
		0%{ opacity :0;-webkit-transform:  translate(5px, -750px);}
		50%{ opacity :0}
		100%   { opacity :1;-webkit-transform:  translate(0px, 0px);}

	}

	.animation-arrival3 {
		-webkit-animation-name: bounce3;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-direction: alternate;
	}
	@-webkit-keyframes bounce4 {
		0%{ opacity :0;-webkit-transform:  translate(5px, 750px);}
		50%{ opacity :0}
		100%   { opacity :1;-webkit-transform:  translate(0px, 0px);}

	}

	.animation-arrival4 {
		-webkit-animation-name: bounce4;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-direction : alternate;
	}
	.wordontopclass  .desc_3d{
		/*margin-left: -25px;*/
		font-size: 20px;
		font-weight: 900;
		color : #1D3675;
		text-shadow:
		/*1px 1px 0 #1D3675,*/
		3px 3px 0 #B15E47; /* end of 2 level deep grey shadow */
	}
	.wordontopclass  .desc_underline{
		text-decoration: underline;
		color: #878787;
	}
	.wordontopclass .desc_bold{
		font-weight: bold;
		color: #878787;
	}

	.wordontopclass input[type=checkbox]{
		border:2px dotted #00f;
		color: #878787;
	}
	.wordontopclass .style_wrapper{
		min-width: 140px;
	}
	/* beta test */


	/* purple theme */

	.wordontopclass> .caption.purple:hover {

		background-image: linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -o-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -moz-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -webkit-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -ms-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
	}

	.wordontopclass> .caption.purple:hover .font{

		background-image: linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -o-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -moz-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -webkit-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);-
		background-image: -ms-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
	}
	.wordontopclass> .caption.purple:hover > .dd-select{

		background-image: linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -o-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -moz-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -webkit-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -ms-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
	}
	.wordontopclass> .caption.purple:hover > .submit_caption{

		background-image: linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -o-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -moz-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -webkit-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -ms-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
	}



	.wordontopclass .caption.purple  a.dd-option{
		color : #00B7E0;
		padding : 2px;
		text-align: center;
		background:rgb(63,39,53);
		border: solid 2px rgb(95,67,80);
		border-bottom:groove 1px  rgb(95,67,80);
	}
	.wordontopclass .caption.purple  .dd-select{
		background : none;
		border: solid 1px rgb(95,67,80);
			background-image: linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -o-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -moz-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -webkit-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -ms-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);

		border: none;

	}
		.wordontopclass .caption.purple  .dd-selected{
			background :  none;
			background-image: linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -o-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -moz-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -webkit-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -ms-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);

		}
				.wordontopclass .caption.purple  .submit_caption{
			background :  none;
			background-image: linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -o-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -moz-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -webkit-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);
		background-image: -ms-linear-gradient(bottom, rgb(35,12,25) 47%, rgb(63,39,53) 74%, rgb(95,67,80) 87%);

		}
	/**/
	/* end purple theme */

	/* white theme */

.wordontopclass .caption.white  ul.fontselector a {
		background: rgb(247,247,247); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(247,247,247,1) 1%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(247,247,247,1) 1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(247,247,247,1) 1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(247,247,247,1) 1%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(247,247,247,1) 1%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
	
}
.wordontopclass .caption.white {
	background: none;
	background: linear-gradient(bottom, rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%);
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%);
	border-color: rgb(236,236,236);
	
	}
	.wordontopclass .caption.white:hover {
	background: none;
	background: linear-gradient(bottom, rgba(255,255,255,0.75) 1%,rgba(244,244,244,0.75) 100%);
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.75) 1%,rgba(244,244,244,0.75) 100%);
	border-color: rgb(236,236,236);
	box-shadow: inset 0 1px 2px grey,
	 inset 1px 0 4px grey;

	
	}
.wordontopclass .caption.white  a.dd-option{

	color : #00B7E0;
	padding : 2px;
	text-align: center;
	background-color: white;
	border: solid 2px rgba(236,236,236,1);
}
.wordontopclass .caption.white  .dd-select{
	background: none;
	border : none;
	background-color : rgb(236,236,236);
	
}
.wordontopclass .caption.white  .dd-selected{
	background: none;
	border : solid 1px #FEFEFE;
	background-color : rgb(236,236,236);
	box-shadow: 0 4px 2px -2px black,
	inset 0 1px 2px white;

}
.wordontopclass .caption.white  input.font {
	background: none;
	background: linear-gradient(bottom, rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%);
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%);
	border-color: rgb(236,236,236);
	border-radius: 8px;
	box-shadow: 0 4px 2px -2px black,
	inset 0 1px 2px white;
}
.wordontopclass .caption.white  .submit_caption {
	background: none;
	background: linear-gradient(bottom, rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%);
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%);
	border-radius: 8px;
	border-color: rgb(236,236,236);
	box-shadow: 0 4px 2px -2px black,
	inset 0 1px 2px white;
}
.wordontopclass .caption.white .toolbox  input {
	background: linear-gradient(bottom, rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%);
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%);
	border-radius: 8px;
	border-color: rgb(236,236,236);
	box-shadow: 0 4px 2px -2px black,
	inset 0 1px 2px white;
}
.wordontopclass .caption.white  span.icon {
	color : grey;
}
/* end white theme */



	.wordontopclass .caption.white {
	background: none;
/*	background-image: linear-gradient(55% bottom, rgb(235,235,235) 7%, rgb(212,212,212) 54%, rgb(240,240,240) 77%);
background-image: -o-linear-gradient(55% bottom, rgb(235,235,235) 7%, rgb(212,212,212) 54%, rgb(240,240,240) 77%);
background-image: -moz-linear-gradient(55% bottom, rgb(235,235,235) 7%, rgb(212,212,212) 54%, rgb(240,240,240) 77%);
background-image: -webkit-linear-gradient(55% bottom, rgb(235,235,235) 7%, rgb(212,212,212) 54%, rgb(240,240,240) 77%);
background-image: -ms-linear-gradient(55% bottom, rgb(235,235,235) 7%, rgb(212,212,212) 54%, rgb(240,240,240) 77%);
border-color: rgb(236,236,236);*/
border-color: rgb(236,236,236);
background: linear-gradient(bottom, rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%);
	box-shadow: inset 0 1px 2px grey,
	 inset 1px 0 4px grey;

	
	}
/*begin shallow */
	

		.wordontopclass .caption.shallow:hover {
	background: none;
	background-image: linear-gradient(55% bottom, rgb(235,235,235) 7%, rgb(212,212,212) 54%, rgb(240,240,240) 77%);
background-image: -o-linear-gradient(55% bottom, rgb(235,235,235) 7%, rgb(212,212,212) 54%, rgb(240,240,240) 77%);
background-image: -moz-linear-gradient(55% bottom, rgb(235,235,235) 7%, rgb(212,212,212) 54%, rgb(240,240,240) 77%);
background-image: -webkit-linear-gradient(55% bottom, rgb(235,235,235) 7%, rgb(212,212,212) 54%, rgb(240,240,240) 77%);
background-image: -ms-linear-gradient(55% bottom, rgb(235,235,235) 7%, rgb(212,212,212) 54%, rgb(240,240,240) 77%);
border-color: rgb(236,236,236);
	box-shadow: inset 0 1px 2px grey,
	 inset 1px 0 4px grey;

	
	}
.wordontopclass .caption.shallow input{
	box-shadow: 2px 2px 120px #888;
	background: none;
}
.wordontopclass .caption.shallow .dd-selected{
	box-shadow: 9px 9px 120px #888;
	background: none;
}
.wordontopclass .caption.shallow .simpleColorDisplay{
	box-shadow: 9px 9px 120px #888;
	background: none;
}
.wordontopclass .caption.shallow .style_wrapper{
	box-shadow: 9px 9px 120px #888,
	inset 0 0 5px  #888;
	background: none;}

.wordontopclass .caption.shallow .submit_caption{
	box-shadow: 2px 2px 290px #888,
	inset 0 0 5px  #888;
	background: none;
}
/*end shallow*/