!!! 5
html(lang="fr")
 head  
     |<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js" /></script>
     link(rel='stylesheet', href='/stylesheets/style.css')
     
     link(rel='stylesheet', href='stylesheets/Word_on_top/WordOnTop.css')
     script(type="text/javascript", src='javascripts/Word_on_top/wordOnTop.js')
     |  <!--[if IE]>
     |     <script type="text/javascript" src="excanvas/excanvas.js"></script>
     |   <![endif]-->
    
     script(type="text/javascript", src='/javascripts/wot.js')
     
     title mon premier test d'express,nodejs et mongodb
 body!= body
