script(type="text/javascript", src='lib/jasmine-1.2.0/jasmine.js')
script(type="text/javascript", src='lib/jasmine-1.2.0/jasmine-html.js')
script(type="text/javascript", src='spec/WordOnTopSpec.js')
link(rel='stylesheet', href='lib/jasmine-1.2.0/jasmine.css')
- if (files.length)
    .progress-bar
    .test(style='clear :both;') test API client
    a(href='/photos2') test partie 2
    .rafraichir#iddetest(style='min-width : 70%;')
    .conteneur(style='height:100%;min-width : 70%;')
      img(src = '/images/'+files[1],style='float:left;')
      .tree(style='padding : 15px;text-align : center;display : inline-block;float:right;max-width : 210px;background-color : #BDD4DE;min-height:500px;border-radius :  4px;')
        h1(style='border-bottom: 1px solid #AAA;') liste des légendes :
        ul
        |<script type="text/javascript">
        |    (function() {
        |      var jasmineEnv = jasmine.getEnv();
        |      jasmineEnv.updateInterval = 1000;

        |      var htmlReporter = new jasmine.HtmlReporter();

        |      jasmineEnv.addReporter(htmlReporter);

        |      jasmineEnv.specFilter = function(spec) {
        |        return htmlReporter.specFilter(spec);
        |      };

        |      var currentWindowOnload = window.onload;

        |      window.onload = function() {
        |        if (currentWindowOnload) {
        |          currentWindowOnload();
        |        }
        |        execJasmine();
        |      };

        |      function execJasmine() {
        |        jasmineEnv.execute();
        |      }

        |    })();
        |  </script>


    