script(type="text/javascript", src='lib/jasmine-1.2.0/jasmine.js')
script(type="text/javascript", src='lib/jasmine-1.2.0/jasmine-html.js')
script(type="text/javascript", src='spec/WordOnTopSpec.js')
link(rel='stylesheet', href='lib/jasmine-1.2.0/jasmine.css')
     
- if (files.length)
  .progress-bar
  |    <a href="#" class="icon-alone">
  |  <span aria-hidden="true" data-icon="&#x25a8;"></span>
  |</a>
  .test 
   |  <span aria-hidden="true" data-icon="&#x21dd;"></span>
   | test de du plugin word up date ( test de bookmark :  
   a(href="http://www.feracheval.com/races-poneys.php") site
   | )
  
  .rafraichir#iddetest
  ul
    - files.forEach(function(item){
       img(src = '/images/'+item)
    - })


    