h1 service d'upload d'image
  label(for='test') choix d'image :
.form_image
  form(action='/photos',method='post',enctype='multipart/form-data')
  
    input(type='text',name='description_fichier',id='text')
    input(type='file',id='fichier',name='image',id='fichier')
    input(type='submit',name='envoyer')
.message_erreur

