|<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" /></script>
link(type='stylesheet', href='/stylesheets/style.css')
link(type="javascript", href='/javascripts/monscript.js')


